.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
 
}

.botonnotmal{
  background-color: rgb(97, 48, 119);
  
}
.grass{
  background-color: rgb(119, 204, 140);

}
.normal{
  background-color: rgb(250, 176, 238);
}
.fighting{
  background-color: rgba(230, 135, 119, 0.836);
}
.poison{
  background-color: rgb(213, 170, 248);
}
.flying{
  background-color: rgb(142, 155, 214);
}
.ground{
  background-color: rgb(218, 207, 185);
}
.rock{
  background-color: rgb(187, 160, 134);
}
.bug{
  background-color: rgb(190, 226, 158);
}
.ghost{
  background-color: rgb(160, 146, 185);
}
.steel{
  background-color: rgb(176, 137, 177);
}
.fire{
  background-color: rgb(245, 135, 115);
}
.water{
  background-color: rgb(137, 178, 233);
}
.electric{
  background-color: rgb(241, 224, 124);
}
.psychic{
  background-color: rgb(238, 123, 232);
}
.ice{
  background-color: rgb(176, 213, 255);
}
.dragon{
  background-color: rgb(129, 130, 177);
}
.dark{
  background-color: rgb(133, 112, 167);
}
.fairy{
  background-color: rgb(250, 219, 247);
}
.unknown{
  background-color: rgb(147, 192, 137);
}
.shadow{
  background-color: rgb(117, 89, 114);
}
